[user]
	email = david.choo@shopee.com
	name = David Choo
	signingkey = 65EBFA012100CC8F
[core]
	editor = nvim
	excludesfile = /Users/dchoo/.gitignore_global
[help]
	autocorrect = 1
[commit]
	gpgsign = true
[gpg]
	program = gpg
[difftool "sourcetree"]
	cmd = opendiff \"$LOCAL\" \"$REMOTE\"
	path = 
[mergetool "sourcetree"]
	cmd = /Applications/Sourcetree.app/Contents/Resources/opendiff-w.sh \"$LOCAL\" \"$REMOTE\" -ancestor \"$BASE\" -merge \"$MERGED\"
	trustExitCode = true
[pull]
	rebase = false
[url "gitlab@git.garena.com:"]
	insteadOf = https://git.garena.com
[pager]
	diff = delta
	log = delta
	reflog = delta
	show = delta
[delta]
	syntax-theme = zenburn
	line-numbers = true
	side-by-side = true
	navigate = true
[interactive]
	diffFilter = delta --color-only